@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass/Overpass-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';  
  src: url('../fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

p {
  font-family: 'Raleway', Helvetica, sans-serif;
  margin: 0;
  font-size: 0.9em;
}

h1 {
  font-family: 'Overpass', Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

.left,
.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  overflow-y: auto;
  position: fixed;
  background-color: #eee;
}

.chartbox {
  background: #eee;
  background-size: cover;
  height: auto;
  /*max-height: 50%;*/
  width: 100%;
  position: relative;
}

.aboutbox {
  background: white;
  /*background: url('../img/headshot1-bw.png') center center no-repeat;*/
  background-size: cover;
  height: auto;
  /*max-height: 50%;*/
  width: 100%;
  position: relative;
}

.aboutbox .bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2364aa;
  background-image: linear-gradient(to left top, #43cea2 , #2364aa);
  opacity: 0.80;
}

.left-inner,
.right-inner {
  padding: 25px;
}

.left-inner {
  display: flex;
  height: 50%;
  min-height: 375px;
  max-height: 385px;
}

.aboutbox .desc {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 85%;
  margin: auto;
  margin-top: 0;
  padding-top:3%;
}

@media screen and (max-width: 1280px) {
  .chartbox,
  .aboutbox {
    position: relative;
  }
  .chartbox {
    top: 0;
    height: auto;
  }
  .aboutbox {
    top: 0;
    height: auto;
    display: block;
  }
  #logo {
    height: 120px;
    width: 120px;
    padding-bottom: 25px;
  }
  .left-inner {
    height: auto;
  }
  .aboutbox .desc {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .aboutbox .desc {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  .left, .right {
    display: block;
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .left {
    position: static;
  }
}

.right {
  float: right;
  text-align: center;
  overflow-y: auto;
  position: fixed;
  right: 0;
}

@media screen and (max-width: 1280px) {
  .right {
    position: static;
    overflow-y: hidden;
  }
}

h4 {
  font-family: 'Overpass', Helvetica, sans-serif;
  margin: 0;
}

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

ul.tab li {
  float: left;
}

ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

ul.tab li:hover {
  background-color: #ddd;
}

ul.tab li:focus, .active {
  background-color: #eee;
}

.tabcontent {
    display: none;
    padding: 20px;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.button {
  display: inline-block;
  color: #2364aa;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  background-color: #eee;
  border: 2px solid #2364aa;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background: #2364aa;
  color: white;
}

.button:focus, .btnactive {
  background: #2364aa;
  color: white;
}

.btncontent {
    display: none;
    padding: 20px;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}